# ==========================
# File temporanei e compilati
# ==========================

# File oggetto
*.o

# Eseguibili generati
conta-bit-a-uno
**/count-char
./calculate-factorial-32-bit
./calculate-factorial-64-bit
*.exe

# Backup ed editor temporanei
*~
*.swp
*.tmp

# Output di compilazioni o test
a.out
*.out

# ==========================
# Cartelle di sistema
# ==========================
.vscode/